* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #901C1C;
}

body h2 {
  color: #D3573C;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

p {
  margin: 0;
}

.haut-page {
  color: #000000;
  padding: 6px 8px;
  background-color: #DB8876;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 45%;
}

@media all and (max-width: 768px) {
  .haut-page {
    display: none;
  }
}

.heading {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

@media all and (max-width: 768px) {
  .heading {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 768px) {
  .heading__logo {
    order: 1;
    width: 50%;
  }
}

.heading__logo--img {
  width: 123px;
}

@media all and (max-width: 768px) {
  .heading__logo--img {
    width: 150px;
  }
}

@media all and (max-width: 768px) {
  .heading__navigation {
    order: 3;
  }
}

.heading__navigation--taggs {
  display: flex;
}

@media all and (max-width: 768px) {
  .heading__navigation--taggs {
    flex-wrap: wrap;
  }
}

.heading__navigation--taggs li {
  padding: 3px;
  border: 0.5px solid #C4C4C4;
  border-radius: 17px;
  margin: 2px;
  font-size: 13px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .heading h1 {
    order: 2;
    font-size: 19px;
  }
}

.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
}

@media all and (max-width: 768px) {
  .photographes {
    flex-direction: column;
  }
}

.photographes__bloc {
  /*width: 526px;
        height: 358px;
        top: -50px;
        left: -162px;*/
  width: 33.33%;
  border: 2px solid #95FFF9;
  margin-top: 20px;
}

@media all and (max-width: 768px) {
  .photographes__bloc {
    width: 100%;
  }
}

.photographes__description {
  text-align: center;
}

.photographes__description > :nth-of-type(2) {
  color: #000000;
  font-size: 13px;
}

.photographes__description > :nth-of-type(3) {
  color: #757575;
  font-size: 12px;
}

.photographe {
  width: 100%;
  height: 277px;
  display: flex;
  justify-content: center;
}

.photographe__image {
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.photographe__image--img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographe__titre {
  text-align: center;
  margin-top: 40px;
}

.main-navigation__taggs {
  display: flex;
  justify-content: center;
}

.main-navigation__taggs--li {
  padding: 2px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 2px;
  font-size: 15px;
  color: #901C1C;
}

.photographes_old {
  display: none;
}
