* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #D3573C;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.photographes__bloc {
  /*width: 526px;
        height: 358px;
        top: -50px;
        left: -162px;*/
  width: 31.33%;
  border: 2px solid #95FFF9;
}

.photographes__description {
  text-align: center;
}

.photographes__description > :nth-of-type(2), .photographes__description > :nth-of-type(3) {
  color: #000000;
}

.photographe {
  width: 263px;
  height: 277px;
}

.photographe__image {
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.photographe__image--img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographe__titre {
  text-align: center;
}

.main-navigation__taggs {
  display: flex;
}

.main-navigation__taggs--li {
  padding: 15px 10px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 2px;
}
