body {
  margin: 0;
  padding: 0 20px;
  font-family: 'DM Sans', sans-serif;
}

body a {
  text-decoration: none;
}

body a:focus-visible {
  outline: 2px dashed #D3573C;
}

body ul {
  list-style-type: none;
}

h1 {
  color: #D3573C;
}

/*label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}
input {
    padding: 8px;
    border: 0.8px solid #ccc;
}*/
.heading__logo {
  width: 150px;
}

.heading-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

@media all and (max-width: 768px) {
  .heading-photo {
    width: 130px;
    height: 130px;
  }
}

.photographe-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
  background-color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid #95FFF9;
}

@media all and (max-width: 768px) {
  .photographe-heading {
    padding: 0;
  }
}

.photographe-heading__bloc {
  display: flex;
}

@media all and (max-width: 768px) {
  .photographe-heading__bloc {
    width: calc(100% - 130px);
  }
}

.photographe-heading__bloc--description > :nth-of-type(1) {
  color: #901C1C;
  font-size: 18px;
}

.photographe-heading__bloc--description > :nth-of-type(2) {
  color: #525252;
  font-size: 14px;
}

.photographe-heading__bloc--navigation ul {
  display: flex;
  padding: 0;
}

.photographe-heading__bloc--navigation ul li {
  padding: 2px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 2px;
  font-size: 14px;
  color: #911C1C;
}

.photographe-heading__bloc--navigation ul li:hover, .photographe-heading__bloc--navigation ul li:focus {
  background-color: #901C1C;
  color: #ffffff;
}

.boutonContact {
  background-color: #901C1C;
  color: #FFFFFF;
  height: 45px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}

.boutonContact:hover, .boutonContact:focus {
  background-color: #db8876;
  color: black;
}

@media all and (max-width: 768px) {
  .boutonContact {
    position: fixed;
    bottom: 0;
    left: calc(80vw - 50%);
  }
}

.photographe-galerie {
  display: flex;
}

.photographe-galerie__texte {
  width: 170px;
  background-color: #DB8876;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  bottom: 0;
}

.photographe-galerie__texte--likes i {
  margin-left: 5px;
}

.photographe-galerie label {
  font-size: 16px;
  color: black;
  margin-right: 10px;
}

.photographe-galerie select {
  background-color: #911C1C;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}

.photographe-medias {
  border: 2PX solid #95FFF9;
}

.photographe-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

@media all and (max-width: 768px) {
  .photographe-medias {
    flex-direction: column;
  }
}

.photographe-medias__lightbox {
  width: 31.33%;
  margin-bottom: 15px;
}

@media all and (max-width: 768px) {
  .photographe-medias__lightbox {
    width: 100%;
  }
}

.photographe-medias__lightbox--texte {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.photographe-medias__lightbox p {
  color: #901C1C;
  margin: 0;
}

.photographe-medias__lightbox i {
  color: #911C1C;
  cursor: pointer;
  margin-left: 5px;
}

.photographe-medias__lightbox--img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 5px;
}

.conteneur-modale {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(20, 50, 92, 0.4);
  animation-name: open-modal;
  animation-duration: 0.9s;
}

.modale {
  background-color: #DB8876;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin: 5% auto;
  overflow: hidden;
  position: relative;
  overflow: auto;
}

@media all and (max-width: 768px) {
  .modale {
    width: 100%;
  }
}

.formulaire {
  margin: 20px;
  padding: 10px;
}

.formulaire__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.formulaire__heading i {
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.formulaire__titre {
  color: #000;
}

.formulaire__infos {
  /*padding: 15px;
        margin: 15px;*/
}

.formulaire__infos label {
  display: inline-block;
  margin-bottom: 10px;
}

.formulaire__infos input {
  padding: 8px;
  border: none;
}

.formulaire__infos textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.bouton-envoyer {
  padding: 12px 25px;
  background-color: #911C1C;
  color: #FFF;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  margin-top: 40px;
  cursor: pointer;
}

.bouton-envoyer:hover {
  background-color: #db8876;
  color: black;
}

@media all and (max-width: 768px) {
  .bouton-envoyer {
    display: block;
    margin: 40px auto;
  }
}

.zone-texte {
  margin: 0;
  width: 97%;
  height: 20px;
  font-size: 20px;
  border-radius: 8px;
}

.erreur {
  color: #f40b23;
  font-size: 10px;
}

.photographe-heading-old, .photographe-galerie-old, .photographe-medias-old {
  display: none;
}

@keyframes open-modal {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

#conteneur-lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #FFF;
}

.lightbox {
  margin: auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.lightbox__img {
  width: 100%;
  max-width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 5px;
}

.lightbox__prev, .lightbox__next {
  cursor: pointer;
  font-size: 30px;
  color: #901C1C;
  position: fixed;
  top: 50%;
  z-index: 10;
  left: 0;
}

.lightbox__next {
  left: auto;
  right: 0;
  margin-right: 260px;
}

.lightbox__prev {
  margin-left: 260px;
}

#lightbox__video {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
}

@media all and (max-width: 768px) {
  #lightbox__video {
    width: 337px;
  }
}

#lightbox__titre {
  color: #901C1C;
}

#fermer {
  cursor: pointer;
  font-size: 30px;
  color: #901C1C;
  position: fixed;
  left: auto;
  right: 0;
  z-index: 10;
  top: 44px;
  left: auto;
  right: 0;
  margin-right: 260px;
}

select {
  display: none;
}

.select-filter {
  position: relative;
  padding: 0px 10PX;
  color: #FFFFFF;
  border-radius: 5px;
}

.select-filter:hover, .select-filter:focus-visible {
  color: black;
  outline: 2px dashed green;
  background-color: #db8876;
}

.select-filter-selected {
  background-color: #911C1C;
  position: relative;
  color: #FFFFFF;
  padding: 7px;
  width: 115px;
  border-radius: 5px;
}

.select-filter-selected:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  right: 5px;
  top: 8px;
  height: 0;
}

.select-filter-selected.active:after {
  content: "\f106";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  top: 7px;
}

.select-filter-items {
  position: absolute;
  left: 0;
  background-color: #911C1C;
  top: 0;
  border-radius: 5px;
}

.select-filter-items:after {
  content: "\f106";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.select-filter-items div {
  padding: 7px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: 125px;
}

.select-hide {
  display: none;
}
