

body {
    margin: 0;
    padding: 0 20px;
    font-family: 'DM Sans', sans-serif;
}
body a {
    text-decoration: none;
}
body a:focus-visible {
    outline: 2px dashed #D3573C;
}
body ul {
    list-style-type: none;
}
h1 {
    color: #D3573C;
}

//variables scss
$couleur-secondaire: #901C1C;
$couleur-tertiaire: #911C1C;
$background-color-hover: #db8876;
$couleur-text-hover: #ffffff;
$border-radius-bloc: 5px;

.heading {

    &__logo {
        width: 150px;
        @media all and (max-width: 768px) {
            margin-left: -25px;
            margin-top: 10px;
        }
    }
}
.heading-photo {//à corriger avec la bonne classe
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    @media all and (max-width: 768px) {
        width: 130px;
        height: 130px;  
    } 
}
.photographe-heading {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
    background-color: #FAFAFA;
    border-radius: 5px;
    @media all and (max-width: 768px) {
        padding: 0;
    }
    &__bloc {
        display: flex;
        @media all and (max-width: 768px) {
            width: calc(100% - 130px);
        }
        &--description {
            >:nth-of-type(1){
                color: $couleur-secondaire;
                font-size: 18px;
            }
            >:nth-of-type(2) {
                color: #525252;
                font-size: 14px;
            }
        }
        &--navigation {
            ul {
                display: flex;
                padding: 0;
                li {
                    padding: 2px;
                    border: 0.5px solid #C4C4C4;
                    border-radius: 11px;
                    margin: 2px;
                    font-size: 14px;
                    color: $couleur-tertiaire;
                    &:hover, 
                    &:focus {
                        background-color: $couleur-secondaire;
                        color: $couleur-text-hover;
                    }
                }
            }
        }
    }
}
.boutonContact { //class à corriger
    background-color: $couleur-secondaire;
    color: #FFFFFF;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    &:hover,
    &:focus {
       background-color: $background-color-hover; 
       color: black;
    }
    @media all and (max-width: 768px) {
        position: fixed;
        bottom: 0;
        left: calc(80vw - 50%);
    }
}
.photographe-galerie {
    display: flex;
    &__texte {
        width: 170px;
        background-color: #DB8876;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 5px;
        position: fixed;
        right: 10px;
        bottom: 0;
        @media all and (max-width: 768px) {
            display: none;
        }
        &--likes {
           i{
            margin-left: 5px;
           } 
        }
    }
    label {
        font-size: 16px;
        color: black;
        margin-right: 10px;
    }
    select {
        background-color: $couleur-tertiaire;
        color: #FFFFFF;
        margin-left: 10px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        font-size: 13px;
    }
}

.photographe-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    @media all and (max-width: 768px) {
        flex-direction: column;
    }
    &__lightbox {
        width: 31.33%;
        margin-bottom: 15px;
        @media all and (max-width: 768px) {
            width: 100%;
        }
        &--texte {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        p {
            color: $couleur-secondaire;
            margin: 0;
        }
        i {
            color: $couleur-tertiaire;
            cursor: pointer;
            margin-left: 5px;
        }
        &--img {
            width:  100%;
            height: 310px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0px 5px 9px 2px #757575;
        }
    }
}

//FORMULAIRE
.conteneur-modale {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(20,50,92,0.4);
animation-name: open-modal;
animation-duration: 0.9s;
}
.modale {
    //display: none;
    //width: 500px;
    //height: 600px;
    background-color: #DB8876;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
    overflow: auto;
    
    @media all and (max-width: 768px) {
        width: 100%;
    }
}
.formulaire {
    margin: 20px;
    padding: 10px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        i {
            font-size: 24px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &__titre {
        color: #000;
    }
    &__infos {

        label {
            display: inline-block;
            margin-bottom: 10px;
        }
        input {
            padding: 8px;
            border: none;
        }
        textarea {
            width: 100%;
            border: none;
            border-radius: 5px;
        }
    }
}
.bouton-envoyer {
    padding: 12px 25px;
    background-color: #911C1C;
    color: #FFF;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    cursor: pointer;
    &:hover {
        background-color: $background-color-hover;
        color: black;
    }
    @media all and (max-width: 768px) {
        display: block;
        margin: 40px auto;
    }
}
.zone-texte {
    margin: 0;
    width: 97%;
    height: 20px;
    font-size: 20px;
    border-radius: 8px;
}
.erreur {
    color: hsl(354, 91%, 50%);
    font-size: 10px;   
}

::placeholder {
    font-size: 12px;
}


@keyframes open-modal {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
    }
  }

//LIGHTBOX
#conteneur-lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #FFF;
    //background-color: rgba(20,50,92,0.4);
}

.lightbox{
    //width: 90%;
    margin: auto;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    @media all and (max-width: 768px) {
        height: 100%;
        width: 310px;
    }
    &__img {
        width: 100%;
        max-width: 100%;
        height: 90%;
        object-fit: contain;
        border-radius: 5px;
    }

    &__prev, &__next {
        cursor: pointer;
        font-size: 30px;
        color: #901C1C;
        position: fixed;
        top: 50%;
        z-index: 10;
        left: 0;
    }
    &__next {
        left: auto;
        right: 0;
        margin-right: 260px;
        @media all and (max-width: 768px) {
            left: auto;
            margin-right: 5px;
        }
    }
    &__prev {
        margin-left: 260px;
        @media all and (max-width: 768px) {
            left: auto;
            margin-left: 5px;
        }
    }
} 

#lightbox__video {
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    margin-top: 50px;

    @media all and (max-width: 768px) {
        width: 310px;
        margin-top: 256px;
        position: relative;
    }
}
#lightbox__titre {
    color: #901C1C;
    @media all and (max-width: 768px) {
        position: absolute;
        bottom: 95px;
    }
}

#fermer{
    cursor: pointer;
    font-size: 30px;
    color: #901C1C;
    position: fixed;
    left: auto;
    right: 0;
    z-index: 10;
    top: 44px;
    left: auto;
    right: 0;
    margin-right: 260px;
    @media all and (max-width: 768px) {
        left: auto;
        margin-right: 5px;
        top: 170px;
    }
}
.boutonClose {
    background: none;
    border: none;
}


select {
    display: none;
}
.select-filter {
    position: relative;
    padding: 0px 10PX;
    color: #FFFFFF;
    border-radius: $border-radius-bloc;
}
.select-filter-selected {
    background-color: $couleur-tertiaire;
    position: relative;
    color: #FFFFFF;
    border-radius: 5px;

    font-size: 15px;
    border: none;
    padding: 10px 61px 10px 10px;
    &:after {
        content:"\f107";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 19px;
        position: absolute;
        right: 5px;
        top: 8px;
        height: 0;
    }
    &.active:after {
        content: "\f106";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        top: 7px;
    }
}
.select-filter-items {
    position: absolute;
    left: 0;
    background-color: $couleur-tertiaire;
    top: 0;
    border-radius: 5px;
    padding: 0 5px;
    &:after {
        content:"\f106";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 19px;
        position: absolute;
        top: 8px;
        right: 5px;
    }
    
    div {
        padding: 7px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        cursor: pointer;
        width: 125px;

    }
}
.select-hide {
    display: none;
}