* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #901C1C;
}
body h2 {
    color: #D3573C;
}
body a {
    text-decoration: none;
}
body ul {
    list-style-type: none;
}
p {
    margin: 0;
}

//variables scss
$couleur-primaire: #000000;

.haut-page {
    color: $couleur-primaire;
    padding: 6px 8px;
    background-color: #DB8876;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 45%; 
    @media all and (max-width: 768px) {
        display: none;
    }
       
}
.heading {
    display: flex;
    align-items: baseline;
    justify-content:space-evenly;
    @media all and (max-width: 768px) {
        //flex-direction: row-reverse;
        flex-wrap:wrap;
    }
    &__logo {
        @media all and (max-width: 768px) {
            order: 1;
            width: 50%;
        }
        &--img {
            width: 123px;
            @media all and (max-width: 768px) {
                width: 150px;
            }
        }
    }
    &__navigation {
        @media all and (max-width: 768px) {
            order: 3;
            //width: 100%;
        }
        &--taggs {
            display: flex;
            @media all and (max-width: 768px) {
                flex-wrap: wrap;
            }
            li {
                padding: 3px;
                border: 0.5px solid #C4C4C4;
                border-radius: 17px;
                margin: 2px;
                font-size: 13px;
                cursor: pointer;
            }
        }
    }
    h1 {
        @media all and (max-width: 768px) {
            order: 2;
            font-size: 19px;
        }
    }
}
.photographes {
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    @media all and (max-width: 768px) {
        flex-direction: column;
    }
    &__bloc {
        //display: none;
        /*width: 526px;
        height: 358px;
        top: -50px;
        left: -162px;*/
        width: 33.33%;
        border: 2px solid #95FFF9;
        margin-top: 20px;
        @media all and (max-width: 768px) {
            width: 100%;
        }
    }
    &__description {
        text-align: center;
        >:nth-of-type(2) {
            color: $couleur-primaire;
            font-size: 13px;
        }
        >:nth-of-type(3) {
            color: #757575;
            font-size: 12px;
        }
    }
}
.photographe {
    width: 100%;
    height: 277px;
    display: flex;
    justify-content: center;
    &__image {
        margin:0 auto;
        width: 100%;
        height: 200px;
        &--img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__titre {
        text-align: center;
        margin-top: 40px;
    }
}
.main-navigation {
    
    &__taggs {
        display: flex;
        justify-content: center;
        &--li {
            padding: 2px;
            border: 0.5px solid #C4C4C4;
            border-radius: 11px;
            margin: 2px;
            font-size: 15px;
            color: #901C1C;
        
        }
    }
}

.photographes_old {
    display: none;
}