body {
    margin: 0;
    padding: 0 20px;
    font-family: 'DM Sans', sans-serif;
}
body a {
    text-decoration: none;
}
body ul {
    list-style-type: none;
}
h1 {
    color: #D3573C;
}

//variables scss
$couleur-secondaire: #901C1C;
$couleur-tertiaire: #911C1C;

/*label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}
input {
    padding: 8px;
    border: 0.8px solid #ccc;
}*/
.heading {

    &__logo {
        width: 150px;
    }
}
.heading-photo {//à corriger avec la bonne classe
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    @media all and (max-width: 768px) {
        width: 130px;
        height: 130px;  
    } 
}
.photographe-heading {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 2px solid #95FFF9;
    @media all and (max-width: 768px) {
        padding: 0;
    }
    &__bloc {
        display: flex;
        @media all and (max-width: 768px) {
            width: calc(100% - 130px);
        }
        &--description {
            >:nth-of-type(1){
                color: $couleur-secondaire;
                font-size: 18px;
            }
            >:nth-of-type(2) {
                color: #525252;
                font-size: 14px;
            }
        }
        &--navigation {
            ul {
                display: flex;
                padding: 0;
                li {
                    padding: 2px;
                    border: 0.5px solid #C4C4C4;
                    border-radius: 11px;
                    margin: 2px;
                    font-size: 14px;
                    color: $couleur-tertiaire;
                }
            }
        }
    }
}
.boutonContact { //class à corriger
    background-color: $couleur-secondaire;
    color: #FFFFFF;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    @media all and (max-width: 768px) {
        position: fixed;
        //top: 530px;
        bottom: 0;
        left: calc(80vw - 50%);//à corriger
        //left: calc(100vw - 260px);//à corriger
    }
}
.photographe-galerie {
    
    &__texte {
        width: 170px;
        background-color: #DB8876;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 5px;
        position: fixed;
        right: 10px;
        //top: 500px;
        bottom: 0;
        &--likes {
           i{
            margin-left: 5px;
           } 
        }
    }
    label {
        font-size: 14px;
        color: black;
    }
    select {
        background-color: $couleur-tertiaire;
        color: #FFFFFF;
        margin-left: 10px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        font-size: 13px;
    }
}
.photographe-medias {//bordure à supprimer
    border: 2PX solid #95FFF9;
}
.photographe-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    @media all and (max-width: 768px) {
        flex-direction: column;
    }
    &__lightbox {
        width: 31.33%;
        margin-bottom: 15px;
        @media all and (max-width: 768px) {
            width: 100%;
        }
        &--texte {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        p {
            color: $couleur-secondaire;
            margin: 0;
        }
        i {
            color: $couleur-tertiaire;
            cursor: pointer;
            margin-left: 5px;
        }
        &--img {
            width:  100%;
            height: 310px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

//FORMULAIRE
.conteneur-modale {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(20,50,92,0.4);
animation-name: open-modal;
animation-duration: 0.9s;
}
.modale {
    //display: none;
    //width: 500px;
    //height: 600px;
    background-color: #DB8876;
    //margin: 0 auto;
    border-radius: 5px;

    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
    // top: 50%;
    // left: 50%;
    // position: fixed;
    // margin-top: -80px;
    // z-index: 5;

    //position: fixed;
    // z-index: 1;
    // left: 0;
    // top: 0;
    //height: 100%;
    //width: 80%;
    overflow: auto;
    
    @media all and (max-width: 768px) {
        width: 100%;
    }
}
.formulaire {
    margin: 20px;
    padding: 10px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        i {
            font-size: 24px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &__titre {
        color: #000;
    }
    &__infos {
        /*padding: 15px;
        margin: 15px;*/
        label {
            display: inline-block;
            //font-size: 12px;
            margin-bottom: 10px;
        }
        input {
            padding: 8px;
            border: none;
        }
        textarea {
            width: 100%;
            border: none;
            border-radius: 5px;
        }
    }
}
.bouton-envoyer {
    padding: 12px 25px;
    background-color: #911C1C;
    color: #FFF;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    cursor: pointer;
    @media all and (max-width: 768px) {
        display: block;
        margin: 40px auto;
        //left: calc(100vw - 50%);
    }
}
.zone-texte {
    margin: 0;
    //padding: 8px;
    width: 97%;
    height: 20px;
    font-size: 20px;
    border-radius: 8px;
}
.erreur {
    color: hsl(354, 91%, 50%);
    font-size: 10px;
    
}

.photographe-heading-old, .photographe-galerie-old, .photographe-medias-old {
    display: none;
}

@keyframes open-modal {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
    }
  }

//LIGHTBOX
#conteneur-lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    //background-color: rgba(0,0,2,0.8);
    background-color: #FFF;
}

.lightbox{
    width: 90%;
    margin: auto;
    max-width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    &__img {
        width: 100%;
        height: 90%;
        object-fit: contain;
    }
    // &__#video {
    //     width: 800px;
    //     @media all and (max-width: 768px) {
    //         width: 350px;
    //     }
    // }
    &__prev, &__next {
        cursor: pointer;
        font-size: 30px;
        color: #901C1C;
        position: fixed;
        top: 50%;
        z-index: 10;
        //opacity: 0.5;
        left: 0;
    }
    &__next {
        left: auto;
        right: 0;
    }
} 

#lightbox__video {
    width: 800px;
    cursor: pointer;
    @media all and (max-width: 768px) {
        width: 337px;
    }
}
#lightbox__titre {
    color: #901C1C;
}

#fermer{
    cursor: pointer;
    font-size: 30px;
    color: #901C1C;
    position: fixed;
    left: auto;
    right: 0;
    z-index: 10;
    top: 44px
}

.popularite:after {
    //border-bottom: 2px solid black;
    content: "";
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;
    z-index: 2;
}